################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

###############################
# Visual Studio folders
###############################
.vs/
.vscode/
.idea/