################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PharmaCom/CopilotIndices/17.14.1091.29919/CodeChunks.db
/.vs/PharmaCom/CopilotIndices/17.14.1091.29919/CodeChunks.db-shm
/.vs/PharmaCom/CopilotIndices/17.14.1091.29919/CodeChunks.db-wal
/.vs/PharmaCom/CopilotIndices/17.14.1091.29919/SemanticSymbols.db
/.vs/PharmaCom/CopilotIndices/17.14.1091.29919/SemanticSymbols.db-shm
/.vs/PharmaCom/CopilotIndices/17.14.1091.29919/SemanticSymbols.db-wal
/.vs/PharmaCom/DesignTimeBuild/.dtbcache.v2
/.vs/PharmaCom/FileContentIndex/2ec49a44-a238-444b-a258-274e52a3bf20.vsidx
/.vs/PharmaCom/FileContentIndex/60fa22a0-73f3-4245-be17-b14cbb9902c2.vsidx
/.vs/PharmaCom/FileContentIndex/6c205eda-3858-4dfe-8038-32ffe580ff01.vsidx
/.vs/PharmaCom/FileContentIndex/e0dff9b7-f07d-4111-a553-d757bc116d1f.vsidx
/.vs/PharmaCom/FileContentIndex/ffc09a74-b847-4d4f-8244-bc2564baba63.vsidx
/PharmaCom.DataInfrastructure/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/PharmaCom.DataInfrastructure/obj/Debug/net9.0/PharmaCom.DataInfrastructure.AssemblyInfo.cs
/PharmaCom.DataInfrastructure/obj/Debug/net9.0/PharmaCom.DataInfrastructure.AssemblyInfoInputs.cache
/PharmaCom.DataInfrastructure/obj/Debug/net9.0/PharmaCom.DataInfrastructure.GeneratedMSBuildEditorConfig.editorconfig
/PharmaCom.DataInfrastructure/obj/Debug/net9.0/PharmaCom.DataInfrastructure.GlobalUsings.g.cs
/Pharmacom.Domain/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/Pharmacom.Domain/obj/Debug/net9.0/PharmaCom.Domain.AssemblyInfo.cs
/Pharmacom.Domain/obj/Debug/net9.0/PharmaCom.Domain.AssemblyInfoInputs.cache
/Pharmacom.Domain/obj/Debug/net9.0/PharmaCom.Domain.GeneratedMSBuildEditorConfig.editorconfig
/Pharmacom.Domain/obj/Debug/net9.0/PharmaCom.Domain.GlobalUsings.g.cs
/PharmaCom.Service/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/PharmaCom.Service/obj/Debug/net9.0/PharmaCom.Service.AssemblyInfo.cs
/PharmaCom.Service/obj/Debug/net9.0/PharmaCom.Service.AssemblyInfoInputs.cache
/PharmaCom.Service/obj/Debug/net9.0/PharmaCom.Service.GeneratedMSBuildEditorConfig.editorconfig
/PharmaCom.Service/obj/Debug/net9.0/PharmaCom.Service.GlobalUsings.g.cs
/PharmaCom.WebApp/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/PharmaCom.WebApp/obj/Debug/net9.0/PharmaCom.WebApp.AssemblyInfo.cs
/PharmaCom.WebApp/obj/Debug/net9.0/PharmaCom.WebApp.AssemblyInfoInputs.cache
/PharmaCom.WebApp/obj/Debug/net9.0/PharmaCom.WebApp.GeneratedMSBuildEditorConfig.editorconfig
/PharmaCom.WebApp/obj/Debug/net9.0/PharmaCom.WebApp.GlobalUsings.g.cs
/PharmaCom.WebApp/obj/Debug/net9.0/PharmaCom.WebApp.RazorAssemblyInfo.cache
/PharmaCom.WebApp/obj/Debug/net9.0/PharmaCom.WebApp.RazorAssemblyInfo.cs
/PharmaCom.WebApp/obj/Debug/net9.0/rpswa.dswa.cache.json
/PharmaCom.WebApp/obj/Debug/net9.0/staticwebassets.removed.txt
/.vs/PharmaCom/FileContentIndex/7946b6ac-0dac-4980-9175-d50ad66a794b.vsidx
/.vs/PharmaCom/FileContentIndex/90a1e57a-38f2-48c0-9c31-9013efee32fd.vsidx
/PharmaCom.DataInfrastructure/obj/Debug/net9.0/PharmaCom.DataInfrastructure.assets.cache
/PharmaCom.DataInfrastructure/obj/Debug/net9.0/PharmaCom.DataInfrastructure.csproj.AssemblyReference.cache
/PharmaCom.DataInfrastructure/obj/PharmaCom.DataInfrastructure.csproj.nuget.dgspec.json
/PharmaCom.DataInfrastructure/obj/PharmaCom.DataInfrastructure.csproj.nuget.g.props
/PharmaCom.DataInfrastructure/obj/PharmaCom.DataInfrastructure.csproj.nuget.g.targets
/PharmaCom.DataInfrastructure/obj/project.assets.json
/PharmaCom.DataInfrastructure/obj/project.nuget.cache
/Pharmacom.Domain/obj/Debug/net9.0/PharmaCom.Domain.assets.cache
/Pharmacom.Domain/obj/Debug/net9.0/PharmaCom.Domain.csproj.AssemblyReference.cache
/Pharmacom.Domain/obj/PharmaCom.Domain.csproj.nuget.dgspec.json
/Pharmacom.Domain/obj/PharmaCom.Domain.csproj.nuget.g.props
/Pharmacom.Domain/obj/PharmaCom.Domain.csproj.nuget.g.targets
/Pharmacom.Domain/obj/project.assets.json
/Pharmacom.Domain/obj/project.nuget.cache
/PharmaCom.Service/obj/Debug/net9.0/PharmaCom.Service.assets.cache
/PharmaCom.Service/obj/PharmaCom.Service.csproj.nuget.dgspec.json
/PharmaCom.Service/obj/PharmaCom.Service.csproj.nuget.g.props
/PharmaCom.Service/obj/PharmaCom.Service.csproj.nuget.g.targets
/PharmaCom.Service/obj/project.assets.json
/PharmaCom.Service/obj/project.nuget.cache
/PharmaCom.WebApp/obj/Debug/net9.0/PharmaCom.WebApp.assets.cache
/PharmaCom.WebApp/obj/Debug/net9.0/PharmaCom.WebApp.csproj.AssemblyReference.cache
/PharmaCom.WebApp/obj/PharmaCom.WebApp.csproj.nuget.dgspec.json
/PharmaCom.WebApp/obj/PharmaCom.WebApp.csproj.nuget.g.props
/PharmaCom.WebApp/obj/PharmaCom.WebApp.csproj.nuget.g.targets
/PharmaCom.WebApp/obj/project.assets.json
/PharmaCom.WebApp/obj/project.nuget.cache
/.vs/PharmaCom/FileContentIndex/27560d55-97b0-45f3-bbe1-1248a7ae3bf9.vsidx
/.vs/PharmaCom/FileContentIndex/8e0103cd-3991-46eb-a7ca-5ae52ab73d17.vsidx
/.vs/PharmaCom/FileContentIndex/c6bf903d-2684-4d3c-ae59-7c4594ab2d61.vsidx
/.vs/PharmaCom/v17/.suo
/.vs/PharmaCom/FileContentIndex/fa0bedf0-f362-4038-ab4e-ec097e521eb0.vsidx
/.vs/PharmaCom/FileContentIndex/f348db93-e079-4c98-9e35-5fbae33523be.vsidx
/.vs/PharmaCom/FileContentIndex/112f6d6e-4d4c-40ba-a410-4d3e74dca59f.vsidx
/.vs/PharmaCom/FileContentIndex/74ee14b1-ed87-4344-8ce0-d20d0048ef43.vsidx
/PharmaCom.Service/obj/Debug/net9.0/PharmaCom.Service.csproj.AssemblyReference.cache
/.vs/PharmaCom/copilot-chat/07737aed/sessions/2c7eeab6-e12e-4ab3-a923-f400828b2a07
/.vs/PharmaCom/FileContentIndex/daf59e18-8777-453f-91ae-45a5d957f972.vsidx
/.vs/PharmaCom/FileContentIndex/e46982fd-6805-497d-99ab-2fc8b0e8e9b2.vsidx
/.vs/PharmaCom/FileContentIndex/d3912ffd-6ed8-4bf9-a8da-1e43b2bda099.vsidx
